server:
  port: 8081

billing:
  base-url: http://localhost:8082

spring:
  application:
    name: library-service
  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

resilience4j:
  retry:
    instances:
      billing:
        maxAttempts: 3
        waitDuration: 300ms
  circuitbreaker:
    instances:
      billing:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s